@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  @responsive {
    .container {
      @apply w-full h-full text-left p-3 sm:p-5 lg:p-7 overflow-y-auto;
    }

    .card-diary-style-home {
      @apply text-left inline-block flex-shrink-0 mr-4 md:mr-5 overflow-hidden bg-white rounded-xl w-48 md:w-56 cursor-pointer;
    }

    .card-diary-style-diarynote {
      @apply text-left rounded-lg overflow-hidden w-full xsm:width-48 lg:width-32 xl:width-19 xl:max-w-3xl lg:mr-2 bg-white cursor-pointer;
    }

    .title-heading {
      @apply inline-block text-left mt-5 font-bold text-lg bg-gray-100 shadow-lg pl-3 rounded-md;
    }

    .grid-diary-item:nth-child(1n+2){
      @apply col-span-2
    }

    .button-handler {
      @apply my-4 p-7 md:p-10 text-left shadow-md rounded-lg text-gray-700 hover:shadow-xl transition-all;
    }

    .button-option {
      @apply bg-gray-100 py-2 px-4 shadow-md rounded-lg mr-2 opacity-50 hover:opacity-100;
    }

    .width-48 {
      width: 48%;
    }

    .width-32 {
      width: 32%;
    }

    .width-24 {
      width: 24%;
    }

    .width-19 {
      width: 19%;
    }

    .shadow-allround {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    }

    .nav-color {
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    .box-color {
      background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }

    .box-atention-color {
      background-image: linear-gradient(
        -225deg,
        #dfffcd 0%,
        #90f9c4 48%,
        #39f3bb 100%
      );
    }

    .box-atention-color-hover {
      background-image: linear-gradient(
        -225deg,
        #dfffcd 0%,
        #90f9c4 60%,
        #39f3bb 100%
      );
    }

    .max-h-image-sm {
      max-height: 600px;
    }

    .max-h-diary {
      max-height: 550px;
    }

    .absolute-centered {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
